.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #486652;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #98d363;
}

p {
  font-size: 2rem;
  color: #7ad2b5;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 8%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
